$background_color: #FFF;
$background_color_component: #eaeae1;
$border_color: #33cc33;
$textbox_color: #f2f2f2;
$black_text: #000;
$white_text: #FFF;
$green_button_color: #2eb82e;
$gray_button_color: #b3b3b3;
