<box-view title="Client Information" *ngIf="customer">
  <div class="img-container">
    <img [src]='customer.img_url'>
  </div>
  <div class="text-container">
    <h3>Account Holder (ID#)</h3>
    <ul>
      <li>Name: {{customer.legal_name}}</li>
      <li>Birthday: {{customer.date_of_birth}}</li>
      <li>Employment: {{customer.employment_status}}</li>
    </ul>
    <h3>Family Status</h3>
    <ul>
      <li>Relationship Status: {{customer.relationship_status}}</li>
      <li>Dependents: {{customer.dependants}}</li>
    </ul>
  </div>
</box-view>
<box-view title="Financial Information" *ngIf="account">
</box-view>
