@import '../../sass_partials/colors';

box-view {

  div {

    &.img-container {
      float: left;
    }

    &.text-container {
      float: right;
    }

    img {
      width: 200px;
      height: 200px;
      border-radius: 50px;
      border: 1px solid $border_color;
    }

    ul {

      li {
        font-size: 20px;
      }
    }
  }

  table {
    margin: 0 auto;
    padding: 5px;
    width: 400px;

    th {
      text-decoration: underline;
      font-size: 20px;
    }

    td {

      margin: 15px;
      padding: 5px;
      border-radius: 5px;
      font-size: 20px;
      text-align: center;

      &.green-medium-field {
        background-color: $green_medium_button_color;
        color: $white_text;
      }

      &.gray-field {
        background-color: $gray_button_color;
        color: $black_text;
      }

      &.green-medium-dark-field {
        background-color: $green_medium_dark_button_color;
        color: $white_text;
      }
    }
  }
}
