<box-view title="Client Information" *ngIf="customer">
  <div class="img-container">
    <img [src]='customer.img_url'>
  </div>
  <div class="text-container">
    <h3>Account Holder (ID#)</h3>
    <ul>
      <li>Name: {{customer.legal_name}}</li>
      <li>Birthday: {{customer.date_of_birth}}</li>
      <li>Employment: {{customer.employment_status}}</li>
    </ul>
    <h3>Family Status</h3>
    <ul>
      <li>Relationship Status: {{customer.relationship_status}}</li>
      <li>Dependents: {{customer.dependants}}</li>
    </ul>
  </div>
</box-view>
<box-view title="Financial Information" *ngIf="accounts">
  <table id="accounts-table">
    <tr>
      <th>Account</th>
      <th>Amount ($K)</th>
      <th># Products</th>
    </tr>
    <tr *ngFor="let account of accounts">
      <td class="green-medium-field">{{account.type}}</td>
      <td class="gray-field">{{account.balance}}</td>
      <td class="gray-field">{{account.number}}</td>
    </tr>
  </table>
</box-view>
<box-view title="Credit Information" *ngIf="customer">
  <table id="credit-table">
    <tr>
      <td class="green-medium-dark-field">Credit Score</td>
      <td colspan="2" class="gray-field" [style.background-color]="getCreditRatingColor()">{{customer.credit_rating}}</td>
    </tr>
    <tr>
      <td class="green-medium-dark-field">Credit Limit</td>
      <td colspan="2" class="gray-field">{{customer.credit_limit}}</td>
    </tr>
  </table>
</box-view>
